@model StudentInfo.Domain.Model.Student

<div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <span class="col-md-1">FirstName: </span>
            <span class="col-md-2">@Html.TextBoxFor(s => s.FirstName)</span>
        </div>
        <div class="row">
            <span class="col-md-1">LastName: </span>
            <span class="col-md-2">@Html.TextBoxFor(s => s.LastName)</span>
        </div>
        <div class="row"><button type="submit" class="btn btn-primary col-md-1">Add</button></div>
    }
</div>