@model IEnumerable<StudentInfo.Domain.Model.Student>

<div class="row">
    @Html.ActionLink("Add new student", "Add")
</div>
@foreach (var student in Model)
{
    <div class="row">@student.FirstName @student.LastName</div>
}

