@model IEnumerable<StudentInfo.Domain.Model.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>@Html.ActionLink("Add new student", "Add")</div>
        @foreach (var student in Model)
        {
            <div>@student.FirstName @student.LastName</div>
        }

    </div>
</body>
</html>
