
<div class="jumbotron">
    <div class="container">
        <center>
            <p>@ViewBag.Message</p>
            <h1>Student Information System</h1>
            <p>
                @Html.ActionLink("Go to list of students.", "Index", "Student")
            </p>
        </center>
    </div>
</div>
