@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @ViewBag.Message
    </div>
    <div>
        @Html.ActionLink("Go to list of students.", "Index", "Student")
    </div>
</body>
</html>
